QPushButton {
    width: 25px;
    height: 25px;
    background-image : url(images/bin_v1.png);
    border-style: inset;
}

QPushButton::hover {
    background-image : url(images/bin_hover_v1.png);
}
