QCheckBox::indicator {
    width: 25px;
    height: 25px;
    background-image : url(images/unchecked.svg);
    border-style: inset;
}

QCheckBox::indicator:hover {
    background-image : url(images/checkbox_hover_v2.svg);
}

QCheckBox::indicator:checked {
    background-image : url(images/checked.svg);
}
